---
title: "意識の数理的な理論はどのように実験的に検証されるべきか？"
authors: "大泉匡史"
journal: "生体の科学，73(1), 1-5"
year: 2022
pdf: "https://drive.google.com/file/d/195EL6ZxmC-NWuig-0ACCrb4jAs_2pMld/view?usp=sharing"
category: "Publication"
---
